# MLflow Configuration
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=property_price_prediction
MLFLOW_RUN_ID=

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Monitoring Configuration
MONITORING_DIR=monitoring
DATA_DRIFT_THRESHOLD=0.3
PREDICTION_DRIFT_THRESHOLD=0.2

# Model Configuration
MODEL_RUN_ID=
